/* Write your CSS code here. */
.bg-container {
  background-image: linear-gradient(to right, #ffeeee, #ffebeb, #ffc0bb);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.card-container {
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: #ffffff;
  border-radius: 10px;
  padding-top: 45px;
  padding-bottom: 45px;
  padding-left: 50px;
  padding-right: 50px;
  max-width: 500px;
}

.feedback-question {
  font-family: 'Roboto';
  color: #0f172a;
  font-size: 25px;
  text-align: center;
}

.emojis-container {
  list-style-type: none;
  padding-left: 0px;
  display: flex;
  justify-content: space-around;
}

.emoji {
  width: 55px;
  cursor: pointer;
}

.love-emoji {
  width: 50px;
  align-self: center;
}

.emoji-name {
  font-family: 'Roboto';
  text-align: center;
  font-size: 12px;
  margin-top: 6px;
}

.wishing-text {
  font-family: 'Roboto';
  color: #0f172a;
  font-size: 20px;
  text-align: center;
  margin-top: 13px;
}

.feedback-answer {
  margin-top: 8px;
  font-family: 'Roboto';
  color: #1e293b;
  font-size: 13px;
  font-weight: 400;
}

@media screen and (max-width: 576px) {
  .card-container {
    max-width: 350px;
  }
}

@media screen and (min-width: 576px and max-width: 768px) {
  .card-container {
    max-width: 450px;
  }
}
